---
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import Standard from "../../layouts/Standard.astro";

const pages = await Astro.glob("./*.{md,mdx}");

const sorted = pages.sort((p1, p2) => p1.frontmatter.weight - p2.frontmatter.weight);

import { FaFastForward } from "react-icons/fa";
---

<Standard>
  <Container>
    <Hero title="Quick start" />

    <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2 md:gap-3 lg:gap-4">
      {sorted.map((page) => (
        <li>
          <a href={page.url} class="border-2 hover:border-teal-500 block rounded py-2 px-4">
            <span class="flex items-center space-x-4">
              <FaFastForward className="text-black" client:load />
              <span class="text-xl tracking-tight">
                {page.frontmatter.title}
              </span>
            </span>
          </a>
        </li>
      ))}
    </ul>
  </Container>
</Standard>
