---
import type { NavLink, ReadMoreProps } from "../types";
import Grid3 from "./Grid3.astro";
import HoverableLink from "./HoverableLink.astro";

type Props = ReadMoreProps;

const { links } = Astro.props;
---

<div class="space-y-4">
  <p class="text-lg md:text-xl lg:text-2xl font-semibold">Related</p>

  <Grid3>
    {links.map((link: NavLink) => <HoverableLink {...link} size="sm" />)}
  </Grid3>
</div>
