---
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import Grid3 from "../../components/Grid3.astro";
import Standard from "../../layouts/Standard.astro";

const pages = await Astro.glob("./*.{md,mdx}");

const title = "Concepts";
---

<Standard>
  <Container>
    <div class="py-16">
      <Hero title={title} />
    </div>

    <Grid3>
      {pages.map((page) =>
        <a href={page.url} class="border-2 rounded-lg hover:border-teal-500 py-4 px-6 text-xl dark:border-slate-500 dark:hover:border-teal-500">
          {page.frontmatter.title}
        </a>
      )}
    </Grid3>
  </Container>
</Standard>
