---
import Container from "../../components/Container.astro";
import Hero from "../../components/Hero.astro";
import Standard from "../../layouts/Standard.astro";

const pages = await Astro.glob("./*.{md,mdx}");

const title = "Concepts"
---

<Standard>
  <Container>
    <Hero title={title} />

    <ul>
      {pages.map((page) =>
        <li>
          <a href={page.url} class="hover:text-blue-500">
            {page.frontmatter.title}
          </a>
        </li>
      )}
    </ul>
  </Container>
</Standard>
