# Dependencies
/node_modules/

# Nix artifacts
result

# Tailwind artifacts
.temp.*.tailwind.config.cjs

# htmltest artifacts
/tmp/

# îles artifacts
/.iles-ssg-temp/
/dist/
__unconfig_iles.config.ts
.direnv
