@import "variables.css";
@import "prose.css";
@import "tailwind.css";

/* Mailchimp embed styling */
#mc_embed_signup {
  background: inherit;
  clear: left;
}

[x-cloak] {
  display: none !important;
}

.banner-link {
  @apply font-semibold duration-hover hover:text-nix-light-blue;
}
