@import "variables.css";
@import "prose.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Markdown snippets not inside .prose */
  .content {
    a {
      text-decoration: underline;
    }

    &:hover {
      color: var(--primary);
    }
  }

  .prose {
    /* Hoverable heading links */
    a.heading-anchor {
      @apply float-left text-2xl text-primary no-underline opacity-0;

      margin-top: 0.125em;
      margin-left: -1em;
      padding-right: 0.23em;

      &::before {
        content: "#";
      }
    }

    .heading {
      &::before {
        display: block;
        content: " ";
        margin-top: -5rem;
        height: 5rem;
        visibility: hidden;
        pointer-events: none;
      }

      &:focus,
      &:hover {
        a.heading-anchor {
          @apply text-primary opacity-100;
        }
      }
    }
  }
}
