@import "variables.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

.content a {
  text-decoration: underline;
}

.content a:hover {
  color: var(--primary);
}

.heading .link {
  text-decoration: none;
}
