@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(80, 116, 191);
}

.content {
  ul:last-of-type,
  ol:last-of-type {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  a {
    text-decoration: underline !important;

    &:hover {
      color: var(--primary);
    }
  }
}
