@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: rgb(80, 116, 191);
}

.content a {
  text-decoration: underline !important;
}

.content a:hover {
  color: var(--primary);
}
