---
import { getEntry, render } from "astro:content";
import FeedbackBar from "../components/FeedbackBar.astro";
import Hero from "../components/Hero.astro";
import HorizontalContainer from "../components/HorizontalContainer.astro";
import Brief from "../components/mdx/Brief.astro";
import Prose from "../components/Prose.astro";
import Separator from "../components/Separator.astro";
import Layout from "../layouts/Layout.astro";

const page = await getEntry("plain", "about")!;

const {
  data: { title, description },
} = page;
const { Content } = await render(page);
---

<Layout {title} {description}>
  <HorizontalContainer>
    <Hero {title} {description} />

    <div class="space-y-8 md:space-y-10 lg:space-y-12">
      <Prose>
        <Content components={{ Brief }} />
      </Prose>

      <div class="mt-16 space-y-12">
        <Separator />
        <FeedbackBar />
      </div>
    </div>
  </HorizontalContainer>
</Layout>
