---
import Layout from "../layouts/Layout.astro";

const title = "About Zero to Nix";
const description =
  "What it is, why we made it, and how it fits into the [Nix](/concepts/nix) ecosystem";
---

<Layout {title} {description}>
  <h1>About</h1>
</Layout>
