---
import { getEntry } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import HorizontalContainer from "../components/HorizontalContainer.astro";
import Separator from "../components/Separator.astro";
import FeedbackBar from "../components/FeedbackBar.astro";
import Brief from "../components/mdx/Brief.astro";

const page = await getEntry("plain", "about")!;

const {
  data: { title, description },
} = page;
const { Content } = await page.render();
---

<Layout {title} {description}>
  <HorizontalContainer>
    <Hero {title} {description} />

    <div class="space-y-8 md:space-y-10 lg:space-y-12">
      <div class="prose dark:prose-invert lg:prose-lg xl:prose-xl max-w-none">
        <Content components={{ Brief }} />
      </div>

      <div class="mt-16 space-y-12">
        <Separator />
        <FeedbackBar />
      </div>
    </div>
  </HorizontalContainer>
</Layout>
