---
import { site } from "../../site";
import Grid3 from "../components/Grid3.astro";
import HoverableLink from "../components/HoverableLink.astro";
import Standard from "../layouts/Standard.astro";
import type { NavLink } from "../types";

const { title, description, navbarLinks } = site;
---

<Standard>
  <article class="container mx-auto px-6">
    <section class="py-12 space-y-4">
      <h1 class="text-5xl md:text-6xl">{title}</h1>
      <h2 class="text-xl md:text-2xl font-light">{description}</h2>
    </section>

    <section>
      <Grid3>
        {navbarLinks.map((link: NavLink) => <HoverableLink {...link} />)}
      </Grid3>
    </section>
  </article>
</Standard>
