---
import { site } from "../../site";
import Grid3 from "../components/Grid3.astro";
import Hero from "../components/Hero.astro";
import HoverableLink from "../components/HoverableLink.astro";
import Standard from "../layouts/Standard.astro";
import type { NavLink } from "../types";

const { title, description, navbarLinks } = site;
---

<Standard>
  <Hero title={title} description={description} size="lg" />

  <section>
    <Grid3>
      {navbarLinks.map((link: NavLink) => <HoverableLink {...link} />)}
    </Grid3>
  </section>
</Standard>
