---
import { site } from "../../site";
import Grid2 from "../components/Grid2.astro";
import Standard from "../layouts/Standard.astro";
import type { Link } from "../types";

const links: Link[] = [
  {
    title: "Quick start",
    href: "/start"
  },
  {
    title: "Concepts",
    href: "/concepts"
  }
];

const { title, description } = site;
---

<Standard>
  <article class="container mx-auto px-6">
    <section class="py-12 space-y-4">
      <h1 class="text-6xl">{title}</h1>
      <h2 class="text-3xl font-light">{description}</h2>
    </section>

    <section>
      <Grid2>
        {links.map((link: Link) =>
          <a href={link.href} class="border-2 rounded-lg hover:border-teal-500 py-4 px-6 text-xl">
            {link.title}
          </a>
        )}
      </Grid2>
    </section>
  </article>
</Standard>
