---
import Standard from "../layouts/Standard.astro";

const title = "Zero to Nix";
const description = "Up and running in no time";
---

<Standard>
  <div class="bg-slate-100">
    <article class="container mx-auto px-6">
      <section class="py-12 space-y-4">
        <h1 class="text-4xl">{title}</h1>
        <h2>{description}</h2>
      </section>
    </article>
  </div>
</Standard>
