---
import HorizontalContainer from "../components/HorizontalContainer.astro";
import Features from "../components/Features.astro";
import VerticalContainer from "../components/VerticalContainer.astro";
import Layout from "../layouts/Layout.astro";
import { md } from "../lib/utils";
import { site } from "../site";
import NixTerms from "../components/NixTerms.astro";
import Signup from "../components/Signup.astro";

const { description, heroButtons } = site;

const descriptionHtml = await md(description);
---

<Layout>
  <section class="bg-dark-gray py-16 md:py-20 lg:py-24">
    <HorizontalContainer>
      <VerticalContainer>
        <div>
          <div
            class="space-y-4 text-left md:space-y-6 md:text-center lg:space-y-8"
          >
            <h1
              class="text-7xl font-thin tracking-tight text-pale md:text-8xl lg:text-9xl"
            >
              Zero to <span class="text-nix-light-blue">Nix</span>
            </h1>
            <h2
              class="text-2xl font-light tracking-tight text-light-gray md:text-3xl lg:text-4xl"
              set:html={descriptionHtml}
            />
          </div>
        </div>

        <div class="text-left md:text-center">
          <ul class="inline-flex items-center space-x-3">
            {
              heroButtons.map(({ text, href, highlight }) => (
                <li
                  class="rounded-full tracking-tight transition-colors duration-150 md:text-base lg:text-lg"
                  class:list={[
                    highlight &&
                      "lg:py-2.4 bg-primary px-3.5 py-1.5 text-white hover:bg-orange md:px-5 md:py-2 lg:px-6",
                    !highlight &&
                      "lg:px-4.5 bg-gray px-3 py-1 text-white hover:bg-light-gray hover:text-dark md:px-3.5 md:py-1.5 lg:py-2",
                  ]}
                >
                  <a
                    {href}
                    class:list={[
                      highlight && "font-bold md:text-lg lg:text-xl",
                    ]}
                  >
                    {text}
                  </a>
                </li>
              ))
            }
          </ul>
        </div>
      </VerticalContainer>
    </HorizontalContainer>
  </section>

  <HorizontalContainer>
    <section class="my-12 space-y-16">
      <div class="space-y-6">
        <h2
          class="text-2xl tracking-tight hover:text-gray dark:hover:text-light-gray md:text-3xl lg:text-4xl"
          id="features"
        >
          <a href="#features">What the Nix ecosystem offers</a>
        </h2>

        <Features />
      </div>
      <div class="space-y-6">
        <h2
          class="text-2xl tracking-tight hover:text-gray dark:hover:text-light-gray md:text-3xl lg:text-4xl"
          id="key-terms"
        >
          <a href="#key-terms">Core Nix components</a>
        </h2>

        <NixTerms />
      </div>

      <div class="mt-12">
        <Signup />
      </div>
    </section>
  </HorizontalContainer>
</Layout>
