---
import { site } from "../../site";
import Grid2 from "../components/Grid2.astro";
import Grid3 from "../components/Grid3.astro";
import HoverableLink from "../components/HoverableLink.astro";
import Standard from "../layouts/Standard.astro";
import type { Link } from "../types";

const links: Link[] = [
  {
    title: "Quick start",
    href: "/start"
  },
  {
    title: "Concepts",
    href: "/concepts"
  }
];

const { title, description } = site;
---

<Standard>
  <article class="container mx-auto px-6">
    <section class="py-12 space-y-4">
      <h1 class="text-5xl md:text-6xl">{title}</h1>
      <h2 class="text-xl md:text-2xl font-light">{description}</h2>
    </section>

    <section>
      <Grid3>
        {links.map((link: Link) =>
          <HoverableLink {...link} />
        )}
      </Grid3>
    </section>
  </article>
</Standard>
