---
import type { Breadcrumb } from "../types";

type Props = Breadcrumb;

const { section, page } = Astro.props;

---

<span class="text-lg font-light text-slate-600">
  <span>
    {section}
  </span>
  <span class="mx-2">
    /
  </span>
  <span>
    {page}
  </span>
</span>
