---
import type { BreadcrumbProps } from "../types";

type Props = BreadcrumbProps;

const {
  back: { title: backTitle, href },
  title,
} = Astro.props;
---

<div
  class="flex items-center text-dark-gray dark:text-white space-x-2.5 text-normal md:text-lg lg:text-xl"
>
  <span>
    <a href={href} class="hover:text-primary">{backTitle}</a>
  </span>
  <span class="font-bold">/</span>
  <span class="underline decoration-dotted">
    {title}
  </span>
</div>
