<div
  class="fixed bottom-6 left-6 z-50 print:hidden"
  x-data="{ show: !(posthog.has_opted_out_capturing() || posthog.has_opted_in_capturing()) }"
  x-show="show"
  x-cloak
>
  <div class="max-w-[225px] bg-soft-gray shadow-lg dark:text-dark">
    <p class="content m-0 px-6 py-4 text-[16px]">
      We use a single, first-party analytics cookie to focus our limited time
      and energy on the most important documentation. Check out our
      <a
        href="https://determinate.systems/policies/privacy"
        class="underline"
        target="_blank"
      >
        privacy policy
      </a>
      .
    </p>
    <div
      class="grid grid-cols-2 divide-x-1.5 divide-light-gray border-t-1.5 border-light-gray"
    >
      <button
        class="py-2.5 font-bold hover:bg-green hover:text-dark"
        @click="posthog.opt_in_capturing(); show = false;"
      >
        Accept
      </button>
      <button
        class="py-2.5 font-bold hover:bg-red hover:text-white"
        @click="posthog.opt_out_capturing(); show = false;"
      >
        Decline
      </button>
    </div>
  </div>
</div>
