---
import { Icon } from "astro-icon/components";
---

<div class="flex">
  <button
    x-show="!drawer"
    class="text-gray hover:text-dark-gray dark:text-light-gray dark:hover:text-gray"
    @click="drawer = true"
    type="button"
    id="drawer-toggle"
    data-drawer-target="nav-drawer"
    data-drawer-show="nav-drawer"
    aria-controls="nav-drawer"
  >
    <Icon name="fa-solid:bars" class="size-4" />
  </button>

  <button x-show="drawer">
    <Icon
      @click="drawer = false"
      name="heroicons:x-mark"
      class="size-4 dark:text-light-gray dark:hover:text-primary"
    />
  </button>
</div>
