---
import Link from "./Link.astro";
type Props = {
  text: string;
  pages: { title: string; href: string }[];
  ordered?: boolean;
};

const { text, pages, ordered = false } = Astro.props;
---

<div class="relative inline-flex" x-data="{ open: false }">
  <button
    @click="open = !open"
    class="duration-hover hover:text-primary focus-visible:ring-opacity-75 text-sm focus:outline-none focus-visible:ring-2 focus-visible:ring-white md:text-base lg:text-lg"
    >{text}</button
  >

  <div
    x-show="open"
    x-cloak
    @click.away="open = false"
    x-transition:enter.duration.200ms
    class="ring-opacity-5 dark:border-gray dark:bg-dark absolute top-10 right-0 max-h-[75vh] w-72 origin-top-right overflow-scroll bg-white shadow-md ring-1 ring-black focus:outline-none"
  >
    <ul class="flex flex-col space-y-1.5">
      {
        pages.map(({ title, href }, idx) => (
          <li>
            <Link
              {href}
              class="duration-hover hover:bg-primary hover:text-dark dark:hover:text-dark block px-4 py-2 text-xs tracking-tight hover:text-white md:text-sm lg:text-base dark:hover:bg-white"
            >
              {ordered && <>{idx + 1}.&nbsp;</>}
              {title}
            </Link>
          </li>
        ))
      }
    </ul>
  </div>
</div>
