---
const year = new Date().getFullYear();
---

<footer class="bg-slate-100 dark:bg-black">
  <div class="container mx-auto px-6 py-12 pb-16">
    <p class="text-lg tracking-tight dark:text-slate-100">
      Copyright &copy; {year} Determinate Systems
    </p>
  </div>
</footer>
