---
import HorizontalContainer from "./HorizontalContainer.astro";

const year = new Date().getFullYear();
---

<footer class="dark:bg-black">
  <HorizontalContainer>
    <div class="pt-12 pb-16">
      <p
        class="text-sm md:text-normal lg:text-lg font-light tracking-tight text-slate-700 dark:text-slate-100 text-right"
      >
        Copyright &copy; {year}
        <a href="https://determinate.systems" class="hover:text-detsys">
          Determinate Systems
        </a>
      </p>
    </div>
  </HorizontalContainer>
</footer>
