---
import Link from "./Link.astro";
import HorizontalContainer from "./HorizontalContainer.astro";

const currentYear = new Date().getFullYear();
---

<footer>
  <HorizontalContainer>
    <div class="flex justify-end pb-16 pt-12">
      <p
        class="tracking-tight text-gray dark:text-gray md:text-base lg:text-lg"
      >
        Copyright &copy; {currentYear}
        <Link href="https://determinate.systems" class="hover:text-primary">
          Determinate Systems, Inc.
        </Link>
      </p>
    </div>
  </HorizontalContainer>
</footer>
