---
const year = new Date().getFullYear();
---

<footer class="dark:bg-black">
  <div class="container mx-auto px-6 py-12 pb-16">
    <p class="font-light tracking-tight text-slate-700 dark:text-slate-100 text-right">
      Copyright &copy; {year} <a href="https://determinate.systems" class="hover:text-detsys">
        Determinate Systems
      </a>
    </p>
  </div>
</footer>
