---
import HorizontalContainer from "./HorizontalContainer.astro";

const year = new Date().getFullYear();
---

<footer>
  <HorizontalContainer>
    <div class="flex justify-end pb-16 pt-12">
      <p
        class="tracking-tight text-gray md:text-base lg:text-lg dark:text-gray"
      >
        Copyright &copy; {year}
        <a href="https://determinate.systems" class="hover:text-primary">
          Determinate Systems, Inc.
        </a>
      </p>
    </div>
  </HorizontalContainer>
</footer>
