---
import type { HeroProps } from "../types";
import Breadcrumb from "./Breadcrumb.astro";

type Props = HeroProps;

const { title, description, breadcrumb } = Astro.props;
---

<section class="space-y-4">
  <h1 class="text-6xl tracking-tight">{title}</h1>
  {description && <h2 class="text-2xl">{description}</h2>}
  {
    breadcrumb && (
      <Breadcrumb
        back={{ title: breadcrumb.back.title, href: breadcrumb.back.href }}
        title={title}
      />
    )
  }
</section>
