---
import type { HeroProps } from "../types";
import Breadcrumb from "./Breadcrumb.astro";

type Props = HeroProps;

const { title, description, breadcrumb } = Astro.props;
---

<section class="space-y-2 md:space-y-3 lg:space-y-4 py-12 md:py-14 lg:py-16">
  <h1 class="text-4xl md:text-5xl lg:text-6xl tracking-tight">{title}</h1>
  {description && <h2 class="text-lg md:text-xl lg:text-2xl">{description}</h2>}
  {
    breadcrumb && (
      <Breadcrumb
        back={{ title: breadcrumb.back.title, href: breadcrumb.back.href }}
        title={title}
      />
    )
  }
</section>
