---
import ThemeToggler from "./ThemeToggler";
import NixOSIcon from "../icons/NixOSIcon";
import HorizontalContainer from "./HorizontalContainer.astro";

type Link = {
  title: string;
  href: string;
};

const links: Link[] = [
  { title: "Quick start", href: "/start" },
  { title: "Concepts", href: "/concepts" },
];

const { title } = Astro.props;
const url = Astro.url.pathname;
---

<nav
  class="sticky top-0 bg-white dark:bg-black border-b-2 py-2 md:py-2.5 lg:py-3 border-light-gray dark:border-b-gray"
>
  <HorizontalContainer>
    <div class="flex justify-between items-center">
      <div class="flex space-x-2 md:space-x-3 lg:space-x-4 items-center">
        <a
          href="/"
          class="text-2xl md:text-3xl lg:text-4xl tracking-tighter font-semibold hover:text-primary dark:hover:text-primary"
          >{title}</a
        >

        <span>
          <NixOSIcon client:only />
        </span>
      </div>

      <div class="flex items-center space-x-4 md:space-x-5 lg:space-x-6">
        <ul class="flex items-center space-x-4 md:space-x-5 lg:space-x-6">
          {
            links.map((link) => (
              <li>
                <a
                  href={link.href}
                  class:list={[
                    "text-normal md:text-lg lg:text-xl hover:text-blue dark:hover:text-light-blue",
                    url.startsWith(link.href) ? "font-bold" : "font-normal",
                  ]}
                >
                  {link.title}
                </a>
              </li>
            ))
          }
        </ul>

        <div>
          <ThemeToggler client:only />
        </div>
      </div>
    </div>
  </HorizontalContainer>
</nav>
