---
import PageSurveyButtons from "./PageSurveyButtons.astro";
import PageSurveyFeedback from "./PageSurveyFeedback.astro";
---

<div class="space-y-4">
  <PageSurveyButtons />
  <PageSurveyFeedback reaction="positive" />
</div>
