---
const { weight } = Astro.props;
const steps = await Astro.glob("../pages/start/*.mdx");
const next = await steps.find((s) => s.frontmatter.weight === weight + 1);
const previous = await steps.find((s) => s.frontmatter.weight === weight - 1);
---

<div
  class="flex flex-col md:flex-row items-center justify-between text-2xl tracking-tight"
>
  <div>
    {
      previous && (
        <span class="flex space-x-4">
          <span>&larr;</span>
          <a href={previous.url} class="font-semibold hover:text-detsys">
            {previous.frontmatter.title}
          </a>
        </span>
      )
    }
  </div>

  <div>
    {
      next && (
        <span class="flex space-x-4">
          <a href={next.url} class="font-semibold hover:text-detsys">
            {next.frontmatter.title}
          </a>
          <span>&rarr;</span>
        </span>
      )
    }
  </div>
</div>
