---
import Link from "./Link.astro";
import { startPagePath } from "../lib/utils";
import { getStartPagesByOrderParam } from "../content/collections";

type Props = {
  order: number;
};

const { order } = Astro.props;

const startPages = await getStartPagesByOrderParam();

const previousPage = startPages.find(
  ({ data: { order: pageOrder } }) => pageOrder === order - 1,
);
const nextPage = startPages.find(
  ({ data: { order: pageOrder } }) => pageOrder === order + 1,
);
---

<div
  class="flex flex-col-reverse gap-3 tracking-tight md:flex-row md:items-center md:justify-between md:gap-0 md:space-y-0 md:text-lg lg:text-xl"
>
  {/* Previous page */}
  <div>
    {
      previousPage && (
        <Link
          href={startPagePath(previousPage.slug)}
          class="flex space-x-3 rounded-lg font-semibold"
        >
          <span class="text-gray">&larr;</span>
          <span class="hover:text-gray dark:hover:text-light-gray tracking-tight">
            {previousPage.data.title}
          </span>
        </Link>
      )
    }
  </div>

  {/* Next page */}
  <div>
    {
      nextPage && (
        <Link
          href={startPagePath(nextPage.slug)}
          class="border-1.5 border-primary hover:bg-pale dark:hover:bg-darker-gray flex justify-between space-x-3 rounded-full px-4 py-2 font-semibold md:px-5 md:py-3"
        >
          <span class="tracking-tight">{nextPage.data.title}</span>
          <span class="text-primary">&rarr;</span>
        </Link>
      )
    }
  </div>
</div>
