<div
  class="prose dark:prose-invert lg:prose-lg xl:prose-xl prose-headings:[&_a]:no-underline prose-headings:[&_a]:hover:text-primary prose-headings:[&_a]:duration-hover max-w-none"
>
  <slot />
</div>
