---
const { items } = Astro.props;
---

<div class="flex items-start space-x-6 border-2 border-purple-400 rounded-lg bg-purple-50 dark:bg-black py-4 px-6">
  <span class="text-2xl font-bold">
    In this guide
  </span>
  <span class="text-lg">
    {items.map((item: string) => <p class="text-xl space-x-3"><span>&RightArrow;</span><span>{item}</span></p>)}
  </span>
</div>
