---
const { items } = Astro.props;
---

<div
  class="flex flex-col md:flex-row items-start flex-nowrap space-y-2 md:space-y-0 md:space-x-6 border-2 border-purple-400 rounded-lg bg-purple-50 dark:bg-black py-4 px-6"
>
  <span class="text-lg md:text-xl lg:text-2xl font-bold">In this guide</span>
  <span>
    {
      items.map((item: string) => (
        <p class="text-sm md:text-normal lg:text-lg space-x-3">
          <>
            <span class="font-semibold">&RightArrow;</span>
            <span>{item}</span>
          </>
        </p>
      ))
    }
  </span>
</div>
