---
import { md } from "../lib/utils";

type Props = {
  items: string[];
};

const { items } = Astro.props;
---

<div
  class="border-1.5 border-light-gray dark:border-dark-gray dark:bg-dark rounded-lg"
>
  <div
    class="flex flex-col flex-nowrap items-start space-y-2 px-3 py-2 md:flex-row md:space-y-0 md:space-x-6 md:px-4 md:py-3 lg:px-6 lg:py-4"
  >
    <span class="font-bold md:text-lg lg:text-xl">In this guide</span>
    <span class="space-y-1.5">
      {
        items.map((item) => (
          <div class="text-sm md:text-base lg:text-lg">
            <p class="space-x-3">
              <span class="font-semibold">&RightArrow;</span>
              <span set:html={md(item)} class="content" />
            </p>
          </div>
        ))
      }
    </span>
  </div>
</div>
