---
import { Icon } from "astro-icon/components";
---

<button @click="$dispatch('toggle-dark')">
  <Icon
    x-show="dark"
    name="heroicons:sun"
    class="size-4 text-yellow duration-hover hover:text-dark-yellow md:size-5 lg:size-6"
  />

  <Icon
    x-show="!dark"
    name="heroicons:moon"
    class="size-4 text-light-blue duration-hover hover:text-blue md:size-5 lg:size-6"
  />
</button>
