---
const { text } = Astro.props;
---

<div class="flex items-center space-x-3 border-2 border-green-400 rounded-lg bg-green-50 py-2 px-3.5">
  <span class="text-normal font-semibold">
    TL;DR
  </span>
  <span class="text-normal">
    {text}
  </span>
</div>
