---
import { Code } from "astro-expressive-code/components";
import { Icon } from "astro-icon/components";
---

<div
  x-cloak
  class="not-prose rounded-lg border border-light-gray p-4 dark:border-dark-gray md:p-6"
>
  <div class="flex items-center gap-4">
    <button
      @click="$store.system.choose('macos')"
      :class="$store.system.os === 'macos' && 'font-bold'">macOS</button
    >
    <button
      @click="$store.system.choose('linux')"
      :class="$store.system.os === 'linux' && 'font-bold'">Linux</button
    >
    <button
      @click="$store.system.choose('windows')"
      :class="$store.system.os === 'windows' && 'font-bold'">Windows</button
    >
  </div>

  <div x-show="$store.system.os === 'macos'" class="flex flex-col gap-6">
    <Icon name="fa:apple" class="size-6" />

    <p>On macOS, we recommend using the package installer</p>

    <p>But if you prefer:</p>

    <Code
      code="curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install"
      lang="shell"
      title="One command to install Nix on macOS"
    />
  </div>

  <div x-show="$store.system.os === 'linux'" class="flex flex-col gap-6">
    <Icon name="fa:linux" class="size-6" />

    <Code
      code="curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install"
      lang="shell"
      title="One command to install Nix on Linux"
    />
  </div>

  <div x-show="$store.system.os === 'windows'" class="flex flex-col gap-6">
    <Icon name="fa:windows" class="size-6" />

    <Code
      code="curl --proto '=https' --tlsv1.2 -sSf -L https://install.determinate.systems/nix | sh -s -- install"
      lang="shell"
      title="One command to install Nix on Windows Subsystem for Linux"
    />
  </div>
</div>
