---
import { Code } from "astro-expressive-code/components";
---

<div class="language-shell" data-lang="shell">
  <pre
    class="language-shell"><code>nix develop <span class="token string">"github:DeterminateSystems/zero-to-nix#LANG"</span></code></pre>
</div>
