---
type Props = {
  pkg: string;
  bin?: string;
  hash?: string;
  valueOnly?: boolean;
};

const {
  pkg,
  bin,
  hash = "sglc12hc6pc68w5ppn2k56n6jcpaci16",
  valueOnly,
} = Astro.props;
---

<div
  class="not-prose border-1.5 border-light-gray bg-pale dark:border-gray rounded-lg px-5 py-3 dark:bg-inherit"
>
  <div class="space-y-2 md:space-y-3 lg:space-y-4">
    <pre
      class="flex overflow-auto text-base break-keep whitespace-nowrap md:text-lg lg:text-xl xl:text-2xl">
        <div class="flex flex-col md:space-y-1 lg:space-y-1.5">
          <span class="font-mono text-lilac dark:text-cerulean">
            /nix/store/
          </span>
          {!valueOnly && <span class="font-sans text-xs tracking-tight md:text-sm lg:text-base">
            <strong>1.</strong> Nix store prefix
          </span>}
        </div>
        <div class="flex flex-col md:space-y-1.5 lg:space-y-1.5">
          <span class="font-mono font-light text-blue dark:text-lilac">
            {hash}
          </span>
          {!valueOnly && <span class="font-sans text-xs tracking-tight md:text-sm lg:text-base">
            <strong>2.</strong> Hash part
          </span>}

        </div>
        <span>-</span>
        <div class="flex flex-col md:space-y-1.5 lg:space-y-1.5">
          <span class="font-mono text-orange dark:text-rose">{pkg}</span>
          {!valueOnly && <span class="font-sans text-xs tracking-tight md:text-sm lg:text-base">
            <strong>3.</strong> Package name
          </span>}
        </div>
        {bin && <>
          <span>/</span>
            <div class="flex flex-col md:space-y-1.5 lg:space-y-1.5">
            <span class="font-mono text-orange dark:text-rose">bin/{bin}</span>
            <span class="font-sans text-xs tracking-tight md:text-sm lg:text-base">
              <strong>4.</strong> Program path
            </span>
          </div>
        </>}
      </pre>
  </div>
</div>
