---
import Content from "../components/Content.astro";
import Hero from "../components/Hero.astro";
import type { ConceptProps } from "../types";
import Panel from "../components/Panel.astro";
import Standard from "./Standard.astro";
import ReadMore from "../components/ReadMore.astro";
import Related from "../components/Related.astro";

type Props = ConceptProps;

const {
  frontmatter: { title, related, readMore },
} = Astro.props;
---

<Standard>
  <Hero title={title} breadcrumb={{ back: { title: "Concepts", href: "/concepts" } }} />
  <div class="space-y-12">
    <Panel>
      <Content>
        <slot />
      </Content>
    </Panel>

    {readMore && readMore.length > 0 && <ReadMore links={readMore} />}

    {related.length > 0 && <Related relatedConceptIds={related} />}
  </div>
</Standard>
