---
import { site } from "../../site";
import Footer from "../components/Footer.astro";
import HorizontalContainer from "../components/HorizontalContainer.astro";
import Navbar from "../components/Navbar.astro";
import Root from "../layouts/Root.astro";

const { title } = site;
---

<Root>
  <main class="flex-1">
    <Navbar title={title} />
    <HorizontalContainer>
      <slot />
    </HorizontalContainer>
  </main>

  <Footer />
</Root>
