---
import { site } from "../../site";
import Footer from "../layouts/components/Footer.astro";
import HorizontalContainer from "../layouts/components/HorizontalContainer.astro";
import Main from "../layouts/components/Main.astro";
import Navbar from "../layouts/components/Navbar.astro";
import Root from "../layouts/Root.astro";

const { title } = site;
---

<Root>
  <Main>
    <Navbar title={title} />
    <HorizontalContainer>
      <slot />
    </HorizontalContainer>
  </Main>

  <Footer />
</Root>
