---
import { site } from "../../site";
import Footer from "../components/Footer.astro";
import HorizontalContainer from "../components/HorizontalContainer.astro";
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
import Root from "../layouts/Root.astro";

const { title } = site;
---

<Root>
  <Main>
    <Navbar title={title} />
    <HorizontalContainer>
      <slot />
    </HorizontalContainer>
  </Main>

  <Footer />
</Root>
