---
import { site } from "../../site";
import Content from "../components/Content.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import HorizontalContainer from "../components/HorizontalContainer.astro";
import Main from "../components/Main.astro";
import Navbar from "../components/Navbar.astro";
import Pagination from "../components/Pagination.astro";
import Panel from "../components/Panel.astro";
import Summary from "../components/Summary.astro";
import type { StepProps } from "../types";
import Root from "./Root.astro";

type Props = StepProps;

const {
  frontmatter: { title, summary, weight },
} = Astro.props;

const { title: siteTitle } = site;
---

<Root>
  <Main>
    <Navbar title={siteTitle} />
    <HorizontalContainer>
      <div class="space-y-4">
        <div class="space-y-4">
          <Hero
            title={title}
            breadcrumb={{ back: { title: "Quick start", href: "/start" } }}
          />
        </div>

        <div class="space-y-6">
          <Panel>
            <div class="space-y-6">
              {summary && <Summary items={summary} />}

              <Content>
                <slot />
              </Content>
            </div>

            <div class="mt-16">
              <Pagination weight={weight} />
            </div>
          </Panel>
        </div>
      </div>
    </HorizontalContainer>
  </Main>

  <Footer />
</Root>
