---
import { site } from "../../site";
import Content from "../layouts/components/Content.astro";
import Footer from "../layouts/components/Footer.astro";
import Hero from "../layouts/components/Hero.astro";
import HorizontalContainer from "../layouts/components/HorizontalContainer.astro";
import Main from "../layouts/components/Main.astro";
import Navbar from "../layouts/components/Navbar.astro";
import Pagination from "../layouts/components/Pagination.astro";
import Panel from "../layouts/components/Panel.astro";
import Summary from "../layouts/components/Summary.astro";
import type { StepProps } from "../types";
import Root from "./Root.astro";

type Props = StepProps;

const {
  frontmatter: { title, summary, order },
} = Astro.props;

const { title: siteTitle } = site;
---

<Root>
  <Main>
    <Navbar title={siteTitle} />
    <HorizontalContainer>
      <Hero
        title={title}
        breadcrumb={{ back: { title: "Quick start", href: "/start" } }}
        size="normal"
      />


      <Panel>
        <div class="space-y-6">
          {summary && <Summary items={summary} />}

          <Content>
            <slot />
          </Content>
        </div>

        <div class="mt-16">
          <Pagination order={order} />
        </div>
      </Panel>
    </HorizontalContainer>
  </Main>

  <Footer />
</Root>
