---
import { site } from '../../site';
import Breadcrumb from '../components/Breadcrumb.astro';
import Container from '../components/Container.astro';
import Content from '../components/Content.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Pagination from '../components/Pagination.astro';
import Panel from '../components/Panel.astro';
import Summary from '../components/Summary.astro';
import type { StepProps } from '../types';
import Root from './Root.astro';

type Props = StepProps;

const { frontmatter: { title, summary, weight }} = Astro.props;

const { title: siteTitle } = site;
---

<Root>
  <main class="flex-1 mb-12">
    <Navbar title={siteTitle} />
    <Container>
      <div class="space-y-4">
        <div class="space-y-4">
          <div class="py-12">
            <Hero title={title} breadcrumb={{ back: { title: "Quick start", href: "/start" }, page: title }} />
          </div>

          {summary && <Summary items={summary} />}
        </div>

        <div class="space-y-6">
          <Panel>
            <Content>
              <slot />
            </Content>

            <div class="mt-16">
              <Pagination weight={weight} />
            </div>
          </Panel>
        </div>
      </div>
    </Container>
  </main>

  <Footer />
</Root>
